In [2]:
import pandas as pd
import numpy as np

In [17]:
data2 = pd.read_csv("avalik_2.csv", sep="\t")
data3 = pd.read_csv("avalik_3.csv", sep="\t")
df = pd.concat([data2, data3])
df.drop_duplicates(subset="JuhtumId", inplace=True)

df.drop(columns=["JuhtumId", "SyndmusTaiendavStatLiik", "Seadus", "Paragrahv", "ParagrahvTais","Loige", "SyndmusLiik", "Kahjusumma", "KohtLiik", "MaakondNimetus", "Lest_X", "Lest_Y", "ValdLinnNimetus"], inplace=True)
data_dum = pd.get_dummies(df, columns=["ToimNadalapaev", "KohtNimetus", "SyyteoLiik"])
data_dum
#df = df.dropna()
#df

,ToimKpv,ToimKell,ToimNadalapaev_Esmaspäev,ToimNadalapaev_Kolmapäev,ToimNadalapaev_Laupäev,ToimNadalapaev_Neljapäev,ToimNadalapaev_Pühapäev,ToimNadalapaev_Reede,ToimNadalapaev_Teisipäev,KohtNimetus_Aa küla,...,KohtNimetus_Õisu alevik,KohtNimetus_Õru alevik,KohtNimetus_Õssu küla,KohtNimetus_Õuna küla,KohtNimetus_Üksnurme küla,KohtNimetus_Ülejõe küla,KohtNimetus_Ülenurme alevik,KohtNimetus_Ülgase küla,SyyteoLiik_KT,SyyteoLiik_VT
0,2021-12-31,23:58,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2021-12-31,18:41,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
2,2021-12-31,18:41,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,2021-12-31,16:00,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
4,2021-12-31,15:44,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62209,2012-01-01,00:15,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
62210,2012-01-01,00:00,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
62211,2012-01-01,00:00,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
62212,2012-01-01,NaN,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
62213,2012-01-01,NaN,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [11]:
df.to_csv("data4model.csv", index=False)